{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br/>
{% endif %}


<h1>Sign Up</h1>
<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}

   <input type="text" name="username" placeholder="User name" />
    <br />

 <h5>Password:</h5>
    <input type="password" name="password1"  />
    <br />

 <h5>Retype Password:</h5>
    <input type="password" name="password2" />
    <br />
    <br />

    <input class="btn btn-primary" type="submit" value="Sign Up" />

</form>
{% endblock %}