{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br/>
{% endif %}


<h1>Create</h1>
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
    {% csrf_token %}

   <input type="text" name="title" placeholder="Title" />
    <br />
    <br />
    <input type="textbox" name="body" placeholder="Whats your product?" />
    <br />
    <br />
    <input type="text" name="url" placeholder="URL" />
    <br />
    <br />
    Icon:
    <input type="file" name="icon" placeholder="Icon" />
    <br />
    <br />
    Image:
    <input type="file" name="image" placeholder="Image" />
    <br />
    <br />
    <input class="btn btn-primary" type="submit" value="Add Product" />

</form>
{% endblock %}

